// color palettes

$blue-base: #1385f0 !default;
$blue-1: #e6f7ff;
$blue-2: #b8e6ff;
$blue-3: #8fd4ff;
$blue-4: #66bfff;
$blue-5: #3da6fc;
$blue-6: $blue-base;
$blue-7: #0664c9;
$blue-8: #0049a3;
$blue-9: #00347d;
$blue-10: #002157;

$green-base: #34c759 !default;
$green-1: #f0fff1;
$green-2: #e1fae4;
$green-3: #afedb9;
$green-4: #82e093;
$green-5: #59d474;
$green-6: $green-base;
$green-7:#22a146;
$green-8: #147a34;
$green-9: #095423;
$green-10: #052e14;

$yellow-base: #ff9900 !default;
$yellow-1: #fff9e6;
$yellow-2: #ffe7a3;
$yellow-3: #ffd77a;
$yellow-4: #ffc552;
$yellow-5: #ffb029;
$yellow-6: $yellow-base;
$yellow-7:#d97b00;
$yellow-8: #b35f00;
$yellow-9: #8c4600;
$yellow-10: #663000;

$red-base: #ff1111 !default;
$red-1: #ffeae6;
$red-2: #ffbfb5;
$red-3: #ff988c;
$red-4: #ff6e63;
$red-5: #ff413b;
$red-6: $red-base;
$red-7:#d9040b;
$red-8: #b3000c;
$red-9: #8c000e;
$red-10: #66000e;